<h1>Administrative Interface</h1>

<ul>
  <li><%= link_to 'Edit Roles', 'roles' %></li>
  <li><%= link_to 'Edit Users', 'users' %></li>
  <li><%= link_to 'Edit Competitions', 'competitions' %></li>
</ul>
