<fieldset>
  <legend>Please log in.</legend>

  <% if flash[:notice] -%>
    <%= flash[:notice] %>
  <% end -%>
  <% form_tag do %>
  <p>
  <label for="login">Username:</label>
  <%= text_field_tag :login, params[:login] %>
  </p>

  <p>
  <label for="password">Password:</label>
  <%= password_field_tag :password, params[:password] %>
  </p>

  <p>
  <%= submit_tag "Login" %>
  </p>
<% end %>
</fieldset>
