body { background-color: #fff; color: #333; }

body {
  font-family: arial, sans-serif;
  font-size: 84%;
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: normal;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#header {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

#user-links {
  position: absolute;
  right: 8px;
  top: 8px;
}

#header-links {
  position: absolute;
  right: 8px;
  top: 8px;
}

/*** Users styles ***/
#users-list-table th {
  text-align: left;
}

#users-list-table td {
  padding: 3px 10px 3px 0;
}
