<% if logged_in? -%>
  <div id="header-links">
    <b><%= current_user.login %></b> | 
    <% if_admin? do %>
      <%= link_to 'admin', '/admin' %> | 
    <% end %>
    <%= link_to 'Sign Out', '/logout' %>
  </div>
<% else -%>
  <div id="header-links">
    <%= link_to 'Sign In', '/login' %>
  </div>
<% end -%>
